<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        backupGlobals="true"
        backupStaticAttributes="true"
        processIsolation="true"
        stopOnError="true"
        stopOnFailure="true"
>
    <testsuites>
        <testsuite name="unit tests">
            <directory suffix="Test.php">tests/UnitTests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <file>./</file>
        </whitelist>
    </filter>

</phpunit>